<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Zarejestruj się!</h1>
        <p>Jeśli jeszcze nie masz założonego konta, kliknij poniżej!</p>
        <p><a href="/register" class="btn btn-outline-warning">Zarejestruj się</a></p>
        <div th:if="${param.error}">
            <p style="color: red">Login lub hasło jest niepoprawne. Spróbuj ponownie!</p>
        </div>
        <div th:if="${param.logout}">
            <h2 style="color: green">Wylogowałeś się!</h2>
        </div>
    </div>
    <form class="form-inline" th:action="@{/login}" method="post">
        <label for="username" class="mr-sm-2">Login:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="username" name="username" placeholder="Wpisz login">
        <label for="password" class="mr-sm-2">Hasło:</label>
        <input type="password" class="form-control mb-2 mr-sm-2" id="password" name="password" placeholder="Wpisz hasło">
        <button type="submit" class="btn btn-outline-primary mb-2">Zaloguj się</button>
    </form>
</div>
</body>
</html>