<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyWall</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Rejestracja</h1>
        <p>Wypełnij poprawnie formularz rejestracji i zapamiętaj dane, gdyż będziesz ich później potrzebować do zalogowania!</p>
        <p>Jeśli już posiadasz konto, wróć do formularza logowania klikając poniżej</p>
        <p><a class="btn btn-outline-success" href="/login">Wróć</a></p>
    </div>
    <form th:action="@{/register}" th:object="${user}" th:method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-message">Nazwa użytkownika</span>
            </div>
            <input type="text" class="form-control" th:field="*{username}" aria-label="Default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-message">E-mail</span>
            </div>
            <input type="text" class="form-control" th:field="*{email}" aria-label="Default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-message">Hasło</span>
            </div>
            <input type="password" class="form-control" th:field="*{password}" aria-label="Default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-message">Hasło</span>
            </div>
            <input type="password" placeholder="Powtórz hasło" class="form-control" th:field="*{repeatedPassword}" aria-label="Default">
        </div>
        <div class="btn-group"><button type="submit" class="btn btn-outline-primary">Zarejestruj się</button></div>
    </form>
</div>
</body>
</html>