<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyWall</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<nav class="navbar sticky-top navbar-expand navbar-dark" style="background:#523c86;">
    <a class="navbar-brand" href="/home">MyWall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/myprofile">Moje konto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mymessages"><i class="fas fa-envelope"></i></a>
            </li>
            <li class="nav-item" th:if="${newmessage > 0}">
                <p class="badge badge-danger" th:text="${newmessage}"></p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/invitations"><i class="fas fa-user-friends"></i></a>
            </li>
            <li class="nav-item" th:if="${invitations > 0}">
                <p class="badge badge-danger" th:text="${invitations}"></p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications"><i class="fas fa-bell"></i></a>
            </li>
            <li class="nav-item" th:if="${notifications > 0}">
                <p class="badge badge-danger" th:text="${notifications}"></p>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:object="${search}" th:action="@{/search}" th:method="get">
            <input th:value="${search}" class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search" id="search" name="search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <span class="nav-link disabled text-warning" th:text="'Jesteś zalogowany jako: ' + ${username}"></span>
            </li>
            <form action="#" th:action="@{/logout}" method="post">
                <input class="btn btn-outline-warning" type="submit" value="Wyloguj" />
            </form>
        </ul>
    </div>
</nav>
<p></p>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h3 th:if="${exist}" th:text="'Wyniki wyszukiwania dla ' + ${user.username} + ' : '"></h3>
        <h3 th:if="${!exist}" th:text="'Użytkownik o nazwie ' + ${name} + ' nie istnieje.'"></h3>
        <br>
        <div th:if="${exist}" class="chip" th:each="user : ${user}">
            <img src="/images/man.png" alt="Person" width="96" height="96">
            <a th:href="@{'/user/' + ${user.id}}"><span th:text="${user.username}"></span></a>
        </div>
    </div>
    <div class="col-md-2">


    </div>
</div>
</div>
</body>
</html>